= f.radio_button :address_id, address.id
%p 郵便番号
= address.zipcode
%p 住所
= "#{Prefecture.find(address.prefecture).name}#{address.city}#{address.town}#{address.town_number}#{address.building}"

%br/
%p 氏名
= "#{address.family_name} #{address.first_name}"