= render 'layouts/sighIn_up_logout-flash'
.header
  .headerBox 
    .topBox
      %h1.rightIcon
        = link_to image_tag(asset_path("material/logo/logo.png"),class: "rightIcon__furima"),root_path
      .searchBox
        = form_with(url: search_products_path, local: true, method: :get, class: "mainForm") do |f|
          .mainForm__inputBox
            = f.text_field :keyword, placeholder: "キーワードから探す", class: "mainForm__inputBox__text"
            %button{type:"submit"}
              .mainForm__inputBox__searchBox__icon
                = image_tag "material/icon/icon-search 1.png",class: "searchIcon"

    .boxUnder 
      .boxUnder__left
        .boxUnder__left__category
        = link_to "#", class: "boxUnder__left__category" do
          カテゴリー
        .boxUnder__left__brand
        = link_to "#", class: "boxUnder__left__brand" do
          ブランド
      .boxUnder__right
      - if current_user.nil?
        = link_to new_user_session_path, class: "boxUnder__right__login" do
          ログイン
        = link_to new_user_registration_path, class: "boxUnder__right__registration" do
          新規登録
      - else
        = link_to destroy_user_session_path, method: :delete, class: "boxUnder__right__logout" do
          ログアウト
        = link_to user_path(current_user), class:"boxUnder__right__mypage" do
          マイページ
  = render "products/shared/breadcrumbs"