%section.pickupCategory
  %h1.pickupCategory__title
    ピックアップカテゴリー
  %h2.pickupCategory__post
    = link_to "新規投稿商品","#",class: "listBtn-green"
  .categoryLists
    .categoryLists__list
      - @categoryProducts.each do |product|
        = link_to product_path(product.id), class: "listBtn" do
          %figure.listImages
            = image_tag product.images[0].image_url.url ,alt: "image_url",class: "new-image"
          .productBody
            %h3.productBody__name
              = product.name
            %ul.productBody__menu
              %li
                = "#{product.price}円"
              %li
                %i.fa.fa-star.starIcon
                  0
            %p.productBody__taxIn（税込）