%section.pickupBrand
  %h1.pickupBrand__title
    ピックアップブランド
  %h2.pickupBrand__post
    = link_to "アーカイバ","#",class: "listBtn-green"
  .brandLists
    .brandLists__list
      = link_to "#", class: "listBtn" do
        %figure.listImages
          = image_tag asset_path("material/pict/nekochan.jpg"),class: "newImage"
        .productBody
          %h3.productBody__name
            たま
          %ul.productBody__menu
            %li
              1000,000
              円
            %li
              %i.fa.fa-star.starIcon
                0
          %p.productBody__taxIn（税込）

          

          -# 下記は２・３個目の仮置き表示です。
    .brandLists__list
      = link_to "#", class: "listBtn" do
        %figure.listImages
          = image_tag asset_path("material/pict/nekochan.jpg"),class: "newImage"
        .productBody
          %h3.productBody__name
            たま
          %ul.productBody__menu
            %li
              1000,000
              円
            %li
              %i.fa.fa-star.starIcon
                0
          %p.productBody__taxIn（税込）
    .brandLists__list
      = link_to "#", class: "listBtn" do
        %figure.listImages
          = image_tag asset_path("material/pict/nekochan.jpg"),class: "newImage"
        .productBody
          %h3.productBody__name
            たま
          %ul.productBody__menu
            %li
              1000,000
              円
            %li
              %i.fa.fa-star.starIcon
                0
          %p.productBody__taxIn（税込）
