.usersLogin
  .usersLoginHeader
    = link_to '#' do 
      = image_tag asset_path("material/logo/logo.png")
      -# とりあえずimage_tag使ってる
  .layout
    .layout__left
    .layout__center 
      %form(action="")
        .login__no__account
          %p アカウントをお持ちでない方はこちら
          = link_to "#", class: "sign__up__btn" do
            新規登録
            -# link先はまだ
        .login__frame
          .login__frame__form
            %input.login__frame__form__defalt{type: "email",placeholder: "メールアドレス"}
          .login__frame__form
            %input.login__frame__form__defalt{type: "password",placeholder: "パスワード"}
        .login__frame__under
          = link_to "#", class: "login__frame__under__btn" do
            ログイン
    .layout__right
  .usersLonginFooter
    = link_to '#' do 
      = image_tag asset_path("material/logo/logo-white.png")
