.infomationHeader 
  = render "products/shared/header"
%main.contents.clearfix
  .contents__leftContent
    = render "users/user_menu_bar"
  .contents__rightContent
    .index
      %h2 売却済み
    .infomation
      - @products.each do |product|
        = link_to product_path(product.id), class: "listBtn" do
          %figure.listImages.sold
            = image_tag product.images.first.image_url.url ,alt: "image_url",class: "newImage"
          .productBody
            %h3.productBody__name
              = product.name
            %ul.productBody__menu
              %li
                = "#{product.price}円"
              %li
                %i.fa.fa-star.starIcon
                  0
            %p.productBody__taxIn（税込）