= render "products/shared/header";
= render "products/shared/pageTop";
= render "products/shared/introduction";
= render "products/shared/topics"
= render "products/shared/spotlight"
= render "products/shared/pickupCategory"
= render "products/shared/pickupBrand"
= render "products/shared/banner"
= render "products/shared/footer"
= render "products/shared/displayBtn"

