= render "products/shared/header";
.productDtail
  .productShowContent
    -if user_signed_in? && current_user.id == @product.user_id
      .productEditLink
        .productEditLink__btn
          = link_to edit_product_path  do
            自分の出品ページをみる
    .productBox
      .productBox__name
        = @product.name
      .productBox__body
        %ul.productBox__body
          %li.productBox__body__image
            .productBox__body__image__main
              = image_tag (@product.images[0].image_url.url)
            %ul.productBox__body__image__sub
              - @product.images.each do |image|
                %li.productBox__body__image__sub__left
                  = image_tag image.image_url.url
      .productBox__price
        .productBox__price__included
          = @product.price
        .productBox__price__detail
          .productBox__price__detail__tax
            (税込)
          .productBox__price__detail__postage
            = @product.delivery_day
      .productBox__detail
        = @product.introduction
      .productBox__table
        %tr 
        .productBox__table__line
          %th
          .productBox__table__line__left
            出品者
          %td
          .productBox__table__line__right
            = @product.user.nickname
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            カテゴリー 
          %td
          .productBox__table__line__right
            -if Category.find(@product.category_id).ancestors?
              - if Category.find(@product.category_id).children?
                = @product.category.parent.name
                ⇒
                = @product.category.name
              - else
                = @product.category.parent.parent.name
                ⇒
                = @product.category.parent.name
                ⇒
                = @product.category.name 
            - else
              = @product.category.name 
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            ブランド
          %td
          .productBox__table__line__right
            = @product.brand.name
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            商品のサイズ
          %td
          .productBox__table__line__right
            = @product.size
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            商品の状態
          %td
          .productBox__table__line__right
            = @product.condition
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            配送料の負担
          %td
          .productBox__table__line__right
            = @product.delivery_cost
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            発送元の地域
          %td
          .productBox__table__line__right
            = link_to @product.from
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            発送日の目安
          %td
          .productBox__table__line__right
            = @product.delivery_day
      .productBox__option
        %ul
          %li#likeBtn.optionalBtn.likeBtn
            %i.fa.fa-star
            お気に入り 0
        %ul.optional
          %li.optionalBtn
            =link_to "#" do
              %i.fa.fa-flag
              不適切な商品の通報
    -if user_signed_in? && current_user.id == @product.user_id
    -elsif user_signed_in?
      -if @addresses.present? && @credit.present?
        = link_to new_product_purchase_path(@product) do
          .productPurchase
            購入する
      - elsif @addresses.blank? && @credit.blank?
        = link_to user_path(current_user) ,data: { confirm: "住所の登録をお願いします。\nクレジットカードの登録をお願いします。"} do
          .productPurchase
            購入する
      -elsif @addresses.blank?
        = link_to new_address_path(current_user),data: { confirm: "住所の登録をお願いします。"} do
          .productPurchase
            購入する
      -elsif @credit.blank?
        = link_to new_credit_path(current_user) ,data: { confirm: "クレジットカードの登録をお願いします。"} do
          .productPurchase
            購入する
      -else
    -else not user_signed_in?

    .commentBox
      %ul
      .commentBox__box
        .commentBox__box__form
          = form_with url: products_path do |f|
            = f.text_field :product, class: "commentBox__box__form__text"
        .commentBox__box__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
            不快な言葉遣いなどは利用制限や退会処分となる事があります。
        =link_to "#" do
          .commentBox__box__btn
            %i.fa.fa-comment
              コメントする
    .productFrontAndBackLinks
      %li
        =link_to "#" do
          %i.fa.fa-angle-left
          %span 前の商品
      %li
        =link_to "#" do
          %span 後ろの商品
          %i.fa.fa-angle-right
        
    .relatedProducts
      =link_to "#" do
        ベビー・キッズをもっと見る
= render "products/shared/banner"
= render "products/shared/footer"