- breadcrumb :product
= render "products/shared/header";
.productDtail
  .productShowContent
    -if user_signed_in? && current_user.id == @product.user_id
      .productEditLink
        .productEditLink__btn
          = link_to edit_product_path  do
            自分の出品ページをみる
    .productBox
      .productBox__name
        = @product.name
      .productBox__body
        %ul.productBox__body
          %li.productBox__body__image
            .productBox__body__image__main
              = image_tag (@product.images[0].image_url.url)
            %ul.productBox__body__image__sub
              - @product.images.each do |image|
                %li.productBox__body__image__sub__left
                  = image_tag image.image_url.url
      .productBox__price
        .productBox__price__included
          = @product.price
          円
        .productBox__price__detail
          .productBox__price__detail__tax
            （税込） 
          .productBox__price__detail__postage
            = @product.delivery_cost
      .productBox__detail
        = @product.introduction
      .productBox__table
        %tr 
        .productBox__table__line
          %th
          .productBox__table__line__left
            出品者
          %td
          .productBox__table__line__right
            = @product.user.nickname
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            カテゴリー 
          %td
          .productBox__table__line__right
            -if Category.find(@product.category_id).ancestors?
              - if Category.find(@product.category_id).children?
                = @product.category.parent.name
                ⇒
                = @product.category.name
              - else
                = @product.category.parent.parent.name
                ⇒
                = @product.category.parent.name
                ⇒
                = @product.category.name 
            - else
              = @product.category.name 
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            ブランド
          %td
          .productBox__table__line__right
            = @product.brand.name
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            商品のサイズ
          %td
          .productBox__table__line__right
            = @product.size
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            商品の状態
          %td
          .productBox__table__line__right
            = @product.condition
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            配送料の負担
          %td
          .productBox__table__line__right
            = @product.delivery_cost
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            発送元の地域
          %td
          .productBox__table__line__right
            = link_to @product.from
        %tr
        .productBox__table__line
          %th
          .productBox__table__line__left
            発送日の目安
          %td
          .productBox__table__line__right
            = @product.delivery_day
      .productBox__option
        %ul
          %li#likeBtn.optionalBtn.likeBtn
            = render partial: 'favorites/favorite', locals: { product: @product, products: @products, favorites: @favorites, favorite: @favorite}
        %ul.optional
          %li.optionalBtn
            =link_to "#" do
              %i.fa.fa-flag
              不適切な商品の通報
    -if @productEndes.nil?
      -if user_signed_in? && current_user.id == @product.user_id
      -elsif user_signed_in?
        -if @addresses.present? && @credit.present?
          = link_to new_product_purchase_path(@product) do
            .productPurchase
              購入する
        - elsif @addresses.blank? && @credit.blank?
          = link_to user_path(current_user) ,data: { confirm: "住所の登録をお願いします。\nクレジットカードの登録をお願いします。"} do
            .productPurchase
              購入する
        -elsif @addresses.blank?
          = link_to new_address_path(current_user),data: { confirm: "住所の登録をお願いします。"} do
            .productPurchase
              購入する
        -elsif @credit.blank?
          = link_to new_credit_path(current_user) ,data: { confirm: "クレジットカードの登録をお願いします。"} do
            .productPurchase
              購入する
        -else
      -else not user_signed_in?
    -else

    .commentBox
      コメント一覧
      - if @comments
        - @comments.each do |comment|
          .commentList
            .commentList__listIcon
              %i.fa.fa-user
            .commentList__listContent
              .commentList__listContent__name
                = comment.user.nickname
              .commentList__listContent__message
                = comment.text
              .commentList__listContent__date
                = comment.updated_at.strftime("%Y-%m-%d %H:%M")
      - if user_signed_in?
        = form_with model:[@product, @comment], local: true do |f|
          = f.text_area :text, placeholder: "コメントする", rows: "2",class: "textForm"
          .noticeMsg
            %p
              相手のことを考え丁寧なコメントを心がけましょう。
              %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br
          = f.submit "コメントする", class: "commentBtn"
    .productFrontAndBackLinks
      %li
        =link_to "#" do
          %i.fa.fa-angle-left
          %span 前の商品
      %li
        =link_to "#" do
          %span 後ろの商品
          %i.fa.fa-angle-right
        
    .relatedProducts
      =link_to "#" do
        ベビー・キッズをもっと見る

.favoriteZone
  
= render "products/shared/banner"
= render "products/shared/footer"